{% extends "employee_information/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Department List</h4>
            <div class="float-right">
                <form class="form-inline row" action="/view_department/search_by/">    
                    <input class="form-control col" type="text" name="search" placeholder="Search">
                    <button class="btn btn-primary col btn-sm" type="submit"> <i class="fas fa-search" aria-hidden="true">Submit</i></button>
                </form>
            </div>
            <div class="text-start">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" id="create_new"><i class="material-icons mdc-button__icon">add</i><span> Add New</span></button>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="1%">
                    <col width="20%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">No</th>
                        <th class="text-center py-1">Department Name</th>
                        <th class="text-center py-1">Description</th>
                        <th class="text-center py-1">Status</th>
                        <th class="text-center py-1">Remark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr class=" view-data" data-id="{{ department.pk }}">
                        <td class="px-2 py-1 text-center">{{ department.id }}</td>
                        <td class="px-2 py-1 text-start">{{ department.name }}</td>
                        <td class="px-2 py-1 text-start">{{ department.description }}</td>
                        <td class="px-2 py-1 text-center">
                            {% if department.status == 1 %}
                            <span class="badge bg-primary rounded-pill px-3">Active</span> {% else %}
                            <span class="badge bg-secondary rounded-pill px-3">Inactive</span> {% endif %}
                        </td>
                        <td class="px-2 py-1 text-start">{{ department.remark }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if departments.has_other_pages  %}
            <div style="display: flex; justify-content: center;">
            <nav aria-label="Topics pagination" class="mb-4">
            <ul class="pagination">
            {% if departments.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ departments.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {% endif %}

            {% for page_num in departments.paginator.page_range %}
              {% if departments.number == page_num %}
                <li class="page-item active">
                  <span class="page-link">
                    {{ page_num }}
                  </span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if departments.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ departments.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {% endif %}
            </ul>
            </nav>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New Department", "{% url 'manage_departments-page' %}")
        })
        $('.view-data').click(function() {
            uni_modal("Department Details", "{% url 'view-department-page' %}?id=" + $(this).attr('data-id'), 'mid-large')
        })
        $('.edit-data').click(function() {
            uni_modal("Edit Department", "{% url 'manage_departments-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this department?", "delete_department", [$(this).attr('data-id')])
        })
    })

    function delete_department($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-department' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}