<div class="container-fluid">
    <form action="" id="expense-form">
        <input type="hidden" name="id" value="{% if expense.pk %}{{expense.pk}}{% endif %}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <div class="form-group mb-3">
                    <label for="name" class="control-label">Name</label>
                    <input type="text" name="name" id="name" class="form-control form-control-sm rounded-0" value="{% if expense.name %}{{expense.name}}{% endif %}" required>
                </div>
                    <label for="department" class="control-label">Department</label>
                    <input type="text" name="department" id="department" class="form-control form-control-sm rounded-0" value="{% if expense.department %}{{expense.department}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="description" class="control-label">Description</label>
                    <input type="text" name="description" id="description" class="form-control form-control-sm rounded-0" value="{% if expense.description %}{{expense.description}}{% endif %}">
                </div>
                <div class="form-group mb-3">
                    <label for="payment_type" class="control-label">Payment Type</label>
                    <input type="text" name="payment_type" id="payment_type" class="form-control form-control-sm rounded-0" value="{% if expense.payment_type %}{{expense.payment_type}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="quantity" class="control-label">Quantity</label>
                    <input type="text" name="quantity" id="quantity" class="form-control form-control-sm rounded-0" value="{% if expense.quantity %}{{expense.quantity}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="amount" class="control-label">Amount</label>
                    <input type="text" name="amount" id="amount" class="form-control form-control-sm rounded-0" value="{% if expense.amount %}{{expense.amount}}{% endif %}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="note" class="control-label">Note</label>
                    <input type="text" name="note" id="note" class="form-control form-control-sm rounded-0" value="{% if expense.note %}{{expense.note}}{% endif %}" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="department_id" class="control-label">Department</label>
                    <select name="department_id" id="department_id" class="form-select form-select-sm rounded-0" required>
                        {% if not expense.department_id %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for department in departments %}
                            {% if expense.department_id and expense.department_id == department.id %}
                            <option value="{{ department.id }}" selected>{{ department.name }}</option>
                            {% else %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="status" class="control-label">Status</label>
                    <select name="status" id="status" class="form-select form-select-sm rounded-0" required>
                        {% if expense.status == 1 %}
                        <option value="1" selected >Active</option>
                        {% else %}
                        <option value="1" >Active</option>
                        {% endif %}
            
                        {% if expense.status == 0 %}
                        <option value="0" selected>Inactive</option>
                        {% else %}
                        <option value="0">Inactive</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="create_date" class="control-label">Create Date</label>
                    <input type="date" name="create_date" id="create_date" class="form-control form-control-sm rounded-0" value="{% if expense.create_date %}{{expense.create_date}}{% endif %}" required>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#expense-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-expense-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>