{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt class="mdc-typography mdc-theme--primary">Name</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.name }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Department</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.department }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Working Day</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.working_day }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Day Off</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.day_off }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Check In</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.check_in }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Check Out</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.check_out }}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt class="mdc-typography mdc-theme--primary">Payroll</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.payroll_id }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Status</dt>
                <dd class="ps-3 fw-bolder">
                    {% if attendance.status == 1 %}
                    <span class="badge bg-primary rounded-pill px-3">Active</span> {% else %}
                    <span class="badge bg-secondary rounded-pill px-3">Inactive</span> {% endif %}
                </dd>
                <dt class="mdc-typography mdc-theme--primary">Remark</dt>
                <dd class="ps-3 fw-bolder">{{ attendance.remark }}</dd>
            </dl>
            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ attendance.pk }}" title="Edit">
            <i class="material-icons mdc-button__icon">edit</i>
            </button>
            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ attendance.pk }}" title="Delete">
            <i class="material-icons mdc-button__icon">deleteoutline</i>
            </button>
        </div>
    </div>
    <div class="clear-fix py-3"></div>
    <div class="d-flex w-100 align-items-center justify-content-end">
        <button class="btn btn-default border btn-sm rounded-0 d-flex align-items-center" type="button" data-bs-dismiss="modal"><i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">close</i> Close</button>
    </div>
</div>
{% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New Attendance", "{% url 'manage_attendances-page' %}")
        })
        $('.view-data').click(function() {
            uni_modal("Attendance Details", "{% url 'view-attendance-page' %}?id=" + $(this).attr('data-id'), 'mid-large')
        })
        $('.edit-data').click(function() {
            uni_modal("Edit Attendance", "{% url 'manage_attendances-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this attendance?", "delete_attendance", [$(this).attr('data-id')])
        })
    })

    function delete_attendance($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-attendance' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}