{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt class="mdc-typography mdc-theme--primary">Department</dt>
                <dd class="ps-3 fw-bolder">{{ expense.department }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Name</dt>
                <dd class="ps-3 fw-bolder">{{ expense.name }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Description</dt>
                <dd class="ps-3 fw-bolder">{{ expense.description }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Payment Type</dt>
                <dd class="ps-3 fw-bolder">{{ expense.payment_type }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Quantity</dt>
                <dd class="ps-3 fw-bolder">{{ expense.quantity }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Amount</dt>
                <dd class="ps-3 fw-bolder">{{ expense.amount }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Note</dt>
                <dd class="ps-3 fw-bolder">{{ expense.note }}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt class="mdc-typography mdc-theme--primary">Attendance</dt>
                <dd class="ps-3 fw-bolder">{{ expense.attendance_id }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Create Date</dt>
                <dd class="ps-3 fw-bolder">{{ expense.create_date }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Status</dt>
                <dd class="ps-3 fw-bolder">
                    {% if expense.status == 1 %}
                    <span class="rounded-pill px-3">Active</span> {% else %}
                    <span class="rounded-pill px-3">Inactive</span> {% endif %}
                </dd>
            </dl>
            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ expense.pk }}" title="Edit">
            <i class="material-icons mdc-button__icon">edit</i>
            </button>
            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ expense.pk }}" title="Delete">
            <i class="material-icons mdc-button__icon">deleteoutline</i>
            </button>
        </div>
    </div>
    <div class="clear-fix py-3"></div>
    <div class="d-flex w-100 align-items-center justify-content-end">
        <button class="btn btn-default border btn-sm rounded-0 d-flex align-items-center" type="button" data-bs-dismiss="modal"><i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">close</i> Close</button>
    </div>
</div>
{% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New Expense", "{% url 'manage_expenses-page' %}")
        })
        $('.view-data').click(function() {
            uni_modal("Expense Details", "{% url 'view-expense-page' %}?id=" + $(this).attr('data-id'), 'mid-large')
        })
        $('.edit-data').click(function() {
            uni_modal("Edit Expense", "{% url 'manage_expenses-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this expense?", "delete_expense", [$(this).attr('data-id')])
        })
    })

    function delete_expense($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-expense' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}